<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ILIASSoapWebserviceBinding" allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="Transport" />
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="ILIASSoapWebserviceBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://nbl.fh-bielefeld.de:443/webservice/soap/server.php" binding="basicHttpBinding" bindingConfiguration="ILIASSoapWebserviceBinding" contract="IliasSoapServiceReference.ILIASSoapWebservicePortType" name="ILIASSoapWebservicePort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="path" value="" />
    <add key="server" value="" />
    <add key="client" value="" />
    <add key="user" value="" />
    <add key="syncall" value="true" />
    <add key="useownnames" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>