<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ILIASSoapWebserviceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ILIASSoapWebserviceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://nbl.fh-bielefeld.de:443/webservice/soap/server.php"
                binding="basicHttpBinding" bindingConfiguration="ILIASSoapWebserviceBinding"
                contract="IliasSoapWebservice.ILIASSoapWebservicePortType"
                name="ILIASSoapWebservicePort" />
        </client>
    </system.serviceModel>
</configuration>